.header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
    background-color: #fcfcfc;
    border-bottom: 1px solid #323238;
}

.header span{
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

.header nav a{
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 1rem;
    transition: .2s;
    color: #070744;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.header nav a:hover{
    color: aqua;
}